/* Variables in pixels */
$width-iMac:  1843px;
$height-iMac: 1483px;
$width-iPad: 1116px / 1.2;
$height-iPad: 1446px / 1.2;
$width-iPhoneX: 726px / 1.2;
$height-iPhoneX: 1444px / 1.2;

$left-iMac: ($width-iPad / 2);
$left-iPhoneX: (($left-iMac + $width-iMac) - ($width-iPhoneX / 5 * 2));

$composite-width-pixel: ($left-iPhoneX + $width-iPhoneX);

/* Calculate in percentage */
$padding: 5%;
$width-iMac: ($width-iMac / $composite-width-pixel * 100%);
$width-iPad: ($width-iPad / $composite-width-pixel * 100%);
$width-iPhoneX: ($width-iPhoneX / $composite-width-pixel * 100%);

$left-iMac: ($width-iPad / 2) * (-1);
$left-iPhoneX: $width-iPhoneX / 5 * 2 * (-1);

.device-composite
{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: $padding;
  z-index: 0;
}
.device-frame-iPad
{
  width: $width-iPad;
  z-index: 2;
}
.device-frame-iMac
{
  width: $width-iMac;
  margin-left: $left-iMac;
  z-index: 1;
}
.device-frame-iPhoneX
{
  width: $width-iPhoneX;
  margin-left: $left-iPhoneX;
  z-index: 3;
}