/* Variables */
$width-iMac:  1843px;
$height-iMac: 1483px;
$width-iPad: 1116px / 1.2;
$height-iPad: 1446px / 1.2;
$width-iPhoneX: 726px / 1.2;
$height-iPhoneX: 1444px / 1.2;

$left-iMac: ($width-iPad / 2);
$left-iPhoneX: (($left-iMac + $width-iMac) - ($width-iPhoneX / 3));
$top-iPad: ($height-iMac - $height-iPad);
$top-iPhoneX: ($height-iMac - $height-iPhoneX);

$width-composite: ($left-iPhoneX + $width-iPhoneX);

$factor-xs: 10;
$factor-sm: 6.5;
$factor-md: 5.25;
$factor-lg: 4;
$factor-xl: 3;

[class^="device-frame-"]
{
 position:absolute;
}
.device-composite
{
  position:relative;
  z-index:0;
  width: ($width-composite / $factor-xs);
  min-height: ($height-iMac / $factor-xs);
  @media (min-width: 576px)
  {
    width: ($width-composite / $factor-sm);
    min-height: ($height-iMac / $factor-sm);
  }
  @media (min-width: 768px)
  {
    width: ($width-composite / $factor-md);
    min-height: ($height-iMac / $factor-md);
  }
  @media (min-width: 992px)
  {
    width: ($width-composite / $factor-lg);
    min-height: ($height-iMac / $factor-lg);
  }
  @media (min-width: 1200px)
  {
    width: ($width-composite / $factor-xl);
    min-height: ($height-iMac / $factor-xl);
  }
}
.device-frame-iPad
{
  z-index:2;
  width: $width-iPad / $factor-xs;
  top: $top-iPad / $factor-xs;
  .device-wrapper
  {
    max-width: $width-iPad / $factor-xs;
  }
  @media (min-width: 576px)
  {
    width: $width-iPad / $factor-sm;
    top: $top-iPad / $factor-sm;
    .device-wrapper
      {
      max-width: $width-iPad / $factor-sm;
    }
  }
  @media (min-width: 768px)
  {
    width: $width-iPad / $factor-md;
    top: $top-iPad / $factor-md;
    .device-wrapper
      {
      max-width: $width-iPad / $factor-md;
    }
  }
  @media (min-width: 992px)
  {
    width: $width-iPad / $factor-lg;
    top: $top-iPad / $factor-lg;
    .device-wrapper
      {
      max-width: $width-iPad / $factor-lg;
    }
  }
  @media (min-width: 1200px)
  {
    width: $width-iPad / $factor-xl;
    top: $top-iPad / $factor-xl;
    .device-wrapper
      {
      max-width: $width-iPad / $factor-xl;
    }
  }
}
.device-frame-iMac
{
  z-index:1;
  width: $width-iMac / $factor-xs;
  left: $left-iMac / $factor-xs;
  .device-wrapper
  {
    max-width: $width-iMac / $factor-xs;
  }
  @media (min-width: 576px)
  {
    width: $width-iMac / $factor-sm;
    left: $left-iMac / $factor-sm;
    .device-wrapper
      {
      max-width: $width-iMac / $factor-sm;
    }
  }
  @media (min-width: 768px)
  {
    width: $width-iMac / $factor-md;
    left: $left-iMac / $factor-md;
    .device-wrapper
      {
      max-width: $width-iMac / $factor-md;
    }
  }
  @media (min-width: 992px)
  {
    width: $width-iMac / $factor-lg;
    left: $left-iMac / $factor-lg;
    .device-wrapper
      {
      max-width: $width-iMac / $factor-lg;
    }
  }
  @media (min-width: 1200px)
  {
    width: $width-iMac / $factor-xl;
    left: $left-iMac / $factor-xl;
    .device-wrapper
      {
      max-width: $width-iMac / $factor-xl;
    }
  }
}
.device-frame-iPhoneX
{
  z-index:3;
  width: $width-iPhoneX / $factor-xs;
  top: $top-iPhoneX / $factor-xs;
  left: $left-iPhoneX / $factor-xs;
  .device-wrapper
  {
    max-width: $width-iPhoneX / $factor-xs;
  }
  @media (min-width: 576px)
  {
    width: $width-iPhoneX / $factor-sm;
    top: $top-iPhoneX / $factor-sm;
    left: $left-iPhoneX / $factor-sm;
    .device-wrapper
      {
      max-width: $width-iPhoneX / $factor-sm;
    }
  }
  @media (min-width: 768px)
  {
    width: $width-iPhoneX / $factor-md;
    top: $top-iPhoneX / $factor-md;
    left: $left-iPhoneX / $factor-md;
    .device-wrapper
      {
      max-width: $width-iPhoneX / $factor-md;
    }
  }
  @media (min-width: 992px)
  {
    width: $width-iPhoneX / $factor-lg;
    top: $top-iPhoneX / $factor-lg;
    left: $left-iPhoneX / $factor-lg;
    .device-wrapper
      {
      max-width: $width-iPhoneX / $factor-lg;
    }
  }
  @media (min-width: 1200px)
  {
    width: $width-iPhoneX / $factor-xl;
    top: $top-iPhoneX / $factor-xl;
    left: $left-iPhoneX / $factor-xl;
    .device-wrapper
      {
      max-width: $width-iPhoneX / $factor-xl;
    }
  }
}